$brand-color: #00a651;
$brand-secondary-color: #00a651;
$brand-color-light: #b8e9d0;
$brand-color-selected: #e7f3ef;
$brand-color-legacy: #33a137;
$brand-red: #c32b2a;
$brand-error: #e83a3a;
$brand-rust: #eb5322;
$brand-blue: #0793ea;
$brand-yellow: #9a6100;

$container-width: 82rem;
